# Python
/venv
__pycache__/
*.pyc

# Testing
.pytest_cache/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Specific Project Files to Ignore
SETUP_INSTRUCTIONS.md